.Signup {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .Left {
    background-color: rgb(17, 17, 17);

    display: flex;
    align-items: center;
    justify-content: center;

    &>img {
      border-radius: 8px;
    }
  }

  .Right {
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;

    .Container {
      // height: 600px;
      width: 500px;
      // border: 1px solid black;
      color: #000;
      font-weight: 600;

      .Title {
        margin-bottom: 10px;
        font-family: 'mont-bold';
        font-size: 40px;
      }

      .Selector {
        margin: 10px 0 30px 0;
        display: flex;
        align-items: center;
        background-color: rgb(81, 81, 81);
        color: white;
        padding: 5px;
        border-radius: 8px;

        .Option {
          padding: 10px 20px;
          width: 50%;
          text-align: center;
          border-radius: 8px;
          cursor: pointer;
        }

        .Selected {
          background-color: black;

        }
      }

      .Form {
        margin-top: 20px;

        .Button {
          cursor: pointer;
          margin-top: 60px;
          background-color: rgb(28, 28, 28);
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px;
          border-radius: 50px;

          &:hover {
            background-color: rgb(0, 0, 0);
          }
        }

        .Already {
          margin-top: 10px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}