.Supplier {
  .Top {
    font-size: 25px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(93, 93, 93);
  }

  .Body {
    margin-top: 40px;

    &>div {
      margin-bottom: 20px;
    }

    .Link {
      font-family: 'mont-bold';
      color: rgb(170, 94, 1);
    }
  }
}